body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family:'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.background {
    background-image: url(Images/Northern_Lights_5.jpg);
    height: 75vh;
    max-width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
}
.background > p {
    color:silver;
}

h1 {
    color:white;
    position:relative;
}

.navbar {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway', sans-serif
}

ul > li {
    display: inline;
    float: right;
    padding: 25px;
}

ul > li > a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited{
    color:white;
}

ul > li:hover {
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.about {
    width:100%;
    background-color:#090F19;
    background-image:linear-gradient(to bottom, #090F10, #32558F);
    text-align:center;
    color:white;
    padding-bottom:50px;
}

.about > h2 {
    padding-top:30px;
    margin:0;
}

.skills {
    width:100%;
    background-image:linear-gradient(to bottom, #32558F,  #211c57);
    height:100%;
    text-align:center;
    color:white;
    margin:0;
    padding:0;
}

.skills-flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.skills> h2 {
    margin:0;
    width:100%;
    text-align:center;
    padding-bottom:30px;
}

.skills > p {
    margin-bottom:0px;
    padding-bottom:30px;
}

.projects {
    background-image:linear-gradient(to bottom, #211c57, #152c50, #0a1030);
    width:100%;
    height:100%;
    text-align:center;
    color:white;
}
.projects > h2 {
    margin:0px;
    padding:30px;
}

.projects > p {
    padding-bottom:30px;
    margin-bottom:0px;
}

.contact {
    margin-top:0;
    background-image:linear-gradient(to bottom, #0a1030,#3e4e80);
    width:100%;
    height:100%;
    text-align:center;
    color:white;
}

.contact > h2 {
    margin:0px;
    padding:30px;
}

.project-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    justify-content:space-around;
    align-content:space-around;
    grid-gap:25px;
    margin-left:15px;
    margin-right:15px;
    padding-bottom:20px;
    
}

i.fab {
    color:#0EF3C5;
    padding-bottom:0px;
}

.skills_tech {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:20%;
    padding-bottom:20px;
}

.skills_icon {
    display:flex;
    width:20%;
    justify-content:center;
    align-items:center;
}

.skills_icon:hover{
    cursor: pointer;
}
.skills_icon:hover + .skills_tech_names {
    visibility:visible;
}

.skills_tech_names {
    display:flex;
    visibility: hidden;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    width:100%;
}

.about-container{
    padding-top:30px;
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
}

.about-avatar {
    display:flex;
    width:25%;
    justify-content:center;
    align-items:center;
}

.avatar{
    width:50%;
    border-radius:50%;
    filter:grayscale(100%);
    -webkit-filter: grayscale(100);
}

.about-blurb {
    width: 25%;
    display: flex;
    align-items: center; 
    justify-content:center;

}

.about-sell {
    width:50%;
    display: flex;
    flex-direction:column;
    align-items: center; 
    justify-content:center;
}

.sell-item {
    border-radius:12px;
    background-color:#109cb4;
    display:flex;
    align-items: center; 
    justify-content:left;
    width:90%;
    height:25%;
    margin:5px;
    flex-wrap:wrap;
}

.sell-item-logo {
    display:flex;
    padding-right:10px;
    justify-content:center;
    align-items:center;
    width:10%;
}

.portfolio-item {
    display:flex;
    flex-direction:column;
    background-color: #2b4774;
    flex-wrap:wrap;
    border-radius:12px;

}
.portfolio-item > h3, h5 {
    margin:0;
    padding-bottom:10px;
}

.portfolio-image {
    width:280px;
    height:220px;
    justify-content:center;
    align-items:center;
    padding-top:20px;
}

.portfolio-logos {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    padding-bottom:30px;
}

.portfolio-description {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}